<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirección de URL amigable a index.php -->
        <rule name="FriendlyURLs" stopProcessing="true">
          <match url="^([a-zA-Z0-9/ñÑ_-]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?querystring={R:1}" />
        </rule>
      </rules>
    </rewrite>
    <!-- Deshabilitar el listado de directorios -->
    <directoryBrowse enabled="false" />
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
  </system.webServer>
</configuration>
 
